lams_build/xsd/lams_tool_laqa11_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation/xsd/lams_tool_laqa11_ims.xsd">
	<xs:element name="laqa11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="qaContentId" type="xs:integer"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="instructions" type="xs:string"/>
				<xs:element name="offlineInstructions" type="xs:string"/>
				<xs:element name="onlineInstructions" type="xs:string"/>
				<xs:element name="createdBy" type="xs:integer"/>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="reflect" type="xs:boolean"/>
				<xs:element name="reflectionSubject" type="xs:string"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="questionsSequenced" type="xs:boolean"/>
				<xs:element name="lockWhenFinished" type="xs:boolean"/>
				<xs:element name="showOtherAnswers" type="xs:boolean"/>
				<xs:element name="usernameVisible" type="xs:boolean"/>
				<xs:element name="synchInMonitor" type="xs:boolean"/>
				<xs:element name="contentLocked" type="xs:boolean"/>
				<xs:element name="updateDate" type="xs:string"/>
				<xs:element name="qaQueContents">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="no-comparator">
								<xs:complexType/>
							</xs:element>
							<xs:element name="org.lamsfoundation.lams.tool.qa.QaQueContent">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="question" type="xs:string"/>
										<xs:element name="displayOrder" type="xs:string"/>
										<xs:element name="isOptional" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="class" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="tree-set"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="qaUploadedFiles">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="no-comparator">
								<xs:complexType/>
							</xs:element>
							<xs:element name="org.lamsfoundation.lams.tool.qa.QaUploadedFile" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="uuid" type="xs:integer"/>
										<xs:element name="fileOnline" type="xs:boolean"/>
										<xs:element name="fileName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="class" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="tree-set"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="mainObject" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
