lams_build/xsd/lams_tool_lascrb11_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation/xsd/lams_tool_lascrb11_ims.xsd">
	<xs:element name="lascrb11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="createDate" type="xs:string"/>
				<xs:element name="updateDate" type="xs:string"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="instructions" type="xs:string"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="lockOnFinished" type="xs:boolean"/>
				<xs:element name="reflectOnActivity" type="xs:boolean"/>
				<xs:element name="reflectInstructions" type="xs:string"/>
				<xs:element name="onlineInstructions" type="xs:string"/>
				<xs:element name="offlineInstructions" type="xs:string"/>
				<xs:element name="contentInUse" type="xs:boolean"/>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="autoSelectScribe" type="xs:boolean"/>
				<xs:element name="toolContentId" type="xs:integer"/>
				<xs:element name="scribeAttachments">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="org.lamsfoundation.lams.tool.scribe.model.ScribeAttachment" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fileVersionId" type="xs:integer"/>
										<xs:element name="fileType" type="xs:string"/>
										<xs:element name="fileName" type="xs:string"/>
										<xs:element name="fileUuid" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="scribeHeadings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="org.lamsfoundation.lams.tool.scribe.model.ScribeHeading">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="headingText" type="xs:string"/>
										<xs:element name="displayOrder" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mainObject" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
