lams_build/xsd/lams_tool_lasbmt11_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation/xsd/lams_tool_lasbmt11_ims.xsd">
	<xs:element name="lasbmt11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="contentID" type="xs:integer"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="instruction" type="xs:string"/>
				<xs:element name="lockOnFinished" type="xs:boolean"/>
				<xs:element name="offlineInstruction" type="xs:string"/>
				<xs:element name="onlineInstruction" type="xs:string"/>
				<xs:element name="instructionFiles">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="org.lamsfoundation.lams.tool.sbmt.InstructionFiles" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="uuID" type="xs:integer"/>
										<xs:element name="versionID" type="xs:integer"/>
										<xs:element name="name" type="xs:string"/>
										<xs:element name="type" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="contentInUse" type="xs:boolean"/>
				<xs:element name="limitUpload" type="xs:boolean"/>
				<xs:element name="limitUploadNumber" type="xs:integer"/>
				<xs:element name="reflectOnActivity" type="xs:boolean"/>
				<xs:element name="reflectInstructions" type="xs:string"/>
				<xs:element name="updated" type="xs:string"/>
				<xs:element name="createdBy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="uid" type="xs:integer"/>
							<xs:element name="userID" type="xs:integer"/>
							<xs:element name="firstName" type="xs:string"/>
							<xs:element name="lastName" type="xs:string"/>
							<xs:element name="login" type="xs:string"/>
							<xs:element name="contentID" type="xs:integer"/>
							<xs:element name="finished" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mainObject" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
