lams_build/xsd/lams_tool_ext_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="updated">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="lastReplyDate">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="limitedChar">
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<xs:simpleType name="created">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="initialItem">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="createDate">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="messages">
		<xs:sequence>
			<xs:element name="org.lamsfoundation.lams.tool.forum.persistence.Message">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subject" type="xs:string"/>
						<xs:element name="body" type="xs:string"/>
						<xs:element name="isAuthored" type="xs:boolean"/>
						<xs:element name="isAnonymous" type="xs:boolean"/>
						<xs:element name="created">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="created">
										<xs:attribute name="class" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="sql-timestamp"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="updated">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="updated">
										<xs:attribute name="class" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="sql-timestamp"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="lastReplyDate">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="lastReplyDate">
										<xs:attribute name="class" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="sql-timestamp"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="replyNumber" type="xs:integer"/>
						<xs:element name="hideFlag" type="xs:boolean"/>
						<xs:element name="attachments">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="no-comparator">
										<xs:complexType/>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="class" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="tree-set"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="attachments">
		<xs:sequence>
			<xs:element name="org.lamsfoundation.lams.tool.forum.persistence.Attachment" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fileUuid" type="xs:integer"/>
						<xs:element name="fileVersionId" type="xs:integer"/>
						<xs:element name="fileType" type="xs:string"/>
						<xs:element name="fileName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="itemInstructions">
		<xs:sequence>
			<xs:element name="org.lamsfoundation.lams.tool.rsrc.model.ResourceItemInstruction" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sequenceId" type="xs:integer"/>
						<xs:element name="description" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="createBy">
		<xs:attribute name="reference" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="../../../createdBy"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
