lams_build/xsd/lams_tool_larsrc11_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation/xsd/lams_tool_larsrc11_ims.xsd">
	<xs:import schemaLocation="lams_tool_ext_ims.xsd"/>
	<xs:element name="larsrc11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="contentId" type="xs:integer"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="instructions" type="xs:string"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="runAuto" type="xs:boolean"/>
				<xs:element name="miniViewResourceNumber" type="xs:integer"/>
				<xs:element name="allowAddFiles" type="xs:boolean"/>
				<xs:element name="allowAddUrls" type="xs:boolean"/>
				<xs:element name="lockWhenFinished" type="xs:boolean"/>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="contentInUse" type="xs:boolean"/>
				<xs:element name="onlineInstructions" type="xs:string"/>
				<xs:element name="offlineInstructions" type="xs:string"/>
				<xs:element name="attachments">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="org.lamsfoundation.lams.tool.rsrc.model.ResourceAttachment" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fileUuid" type="xs:integer"/>
										<xs:element name="fileVersionId" type="xs:integer"/>
										<xs:element name="fileType" type="xs:string"/>
										<xs:element name="fileName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="updated" type="xs:string"/>
				<xs:element name="createdBy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="userId" type="xs:integer"/>
							<xs:element name="firstName" type="xs:string"/>
							<xs:element name="lastName" type="xs:string"/>
							<xs:element name="loginName" type="xs:string"/>
							<xs:element name="sessionFinished" type="xs:boolean"/>
							<xs:element name="resource">
								<xs:complexType>
									<xs:attribute name="reference" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="resourceItems">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="org.lamsfoundation.lams.tool.rsrc.model.ResourceItem" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type" type="xs:integer"/>
										<xs:element name="title" type="xs:string"/>
										<xs:choice>
											<xs:sequence>
												<xs:element name="url" type="xs:anyURI"/>
												<xs:element name="openUrlNewWindow" type="xs:boolean"/>
												<xs:element name="itemInstructions" type="itemInstructions"/>
												<xs:element name="isHide" type="xs:boolean"/>
												<xs:element name="isCreateByAuthor" type="xs:boolean"/>
												<xs:element name="createDate" type="createDate"/>
												<xs:element name="createBy" type="createBy"/>
												<xs:element name="complete" type="xs:boolean"/>
											</xs:sequence>
											<xs:sequence>
												<xs:element name="openUrlNewWindow" type="xs:boolean"/>
												<xs:choice>
													<xs:element name="initialItem" type="initialItem"/>
													<xs:sequence>
														<xs:element name="imsSchema" type="xs:string"/>
														<xs:element name="initialItem" type="initialItem"/>
														<xs:element name="organizationXml" type="xs:string"/>
													</xs:sequence>
												</xs:choice>
												<xs:element name="fileUuid" type="xs:integer"/>
												<xs:element name="fileVersionId" type="xs:integer"/>
												<xs:element name="fileName" type="xs:string"/>
												<xs:element name="fileType" type="xs:string"/>
												<xs:element name="itemInstructions" type="itemInstructions"/>
												<xs:element name="isHide" type="xs:boolean"/>
												<xs:element name="isCreateByAuthor" type="xs:boolean"/>
												<xs:element name="createDate" type="createDate"/>
												<xs:element name="createBy" type="createBy"/>
												<xs:element name="complete" type="xs:boolean"/>
											</xs:sequence>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="reflectOnActivity" type="xs:boolean"/>
				<xs:element name="reflectInstructions" type="xs:string"/>
				<xs:element name="mainObject" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
