lams_build/xsd/lams_tool_lafrum11_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation/xsd/lams_tool_lafrum11_ims.xsd">
	<xs:import schemaLocation="lams_tool_ext_ims.xsd"/>
	<xs:element name="lafrum11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="contentId" type="xs:integer"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="lockWhenFinished" type="xs:boolean"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="allowAnonym" type="xs:boolean"/>
				<xs:element name="allowEdit" type="xs:boolean"/>
				<xs:element name="allowNewTopic" type="xs:boolean"/>
				<xs:element name="allowUpload" type="xs:boolean"/>
				<xs:element name="maximumReply" type="xs:integer"/>
				<xs:element name="minimumReply" type="xs:integer"/>
				<xs:element name="allowRichEditor" type="xs:boolean"/>
				<xs:element name="instructions" type="xs:string"/>
				<xs:choice>
					<xs:sequence>
						<xs:element name="onlineInstructions" type="xs:string"/>
						<xs:element name="offlineInstructions" type="xs:string"/>
						<xs:element name="defineLater" type="xs:boolean"/>
						<xs:element name="contentInUse" type="xs:boolean"/>
						<xs:element name="created">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="created">
										<xs:attribute name="class" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="sql-timestamp"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="updated">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="updated">
										<xs:attribute name="class" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="sql-timestamp"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="messages" type="messages"/>
						<xs:element name="attachments" type="attachments"/>
						<xs:element name="limitedChar" type="limitedChar"/>
						<xs:element name="limitedInput" type="xs:boolean"/>
						<xs:element name="reflectOnActivity" type="xs:boolean"/>
						<xs:element name="reflectInstructions" type="xs:string"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="defineLater" type="xs:boolean"/>
						<xs:element name="contentInUse" type="xs:boolean"/>
						<xs:element name="messages" type="messages"/>
						<xs:element name="attachments" type="attachments"/>
						<xs:element name="limitedChar" type="limitedChar"/>
						<xs:element name="limitedInput" type="xs:boolean"/>
						<xs:element name="reflectOnActivity" type="xs:boolean"/>
					</xs:sequence>
				</xs:choice>
				<xs:element name="mainObject" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
