lams_build/xsd/lams_tool_lasurv11_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation/xsd/lams_tool_lasurv11_ims_20061102.xsd">
	<xs:element name="lasurv11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="contentId" type="xs:integer"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="instructions" type="xs:string"/>
				<xs:element name="showOnePage" type="xs:boolean"/>
				<xs:element name="lockWhenFinished" type="xs:boolean"/>
				<xs:element name="reflectOnActivity" type="xs:boolean"/>
				<xs:element name="reflectInstructions" type="xs:string"/>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="contentInUse" type="xs:boolean"/>
				<xs:element name="onlineInstructions" type="xs:string"/>
				<xs:element name="offlineInstructions" type="xs:string"/>
				<xs:element name="attachments">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="org.lamsfoundation.lams.tool.survey.model.SurveyAttachment" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="fileUuid" type="xs:integer"/>
										<xs:element name="fileVersionId" type="xs:integer"/>
										<xs:element name="fileType" type="xs:string"/>
										<xs:element name="fileName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="updated" type="xs:string"/>
				<xs:element name="createdBy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="userId" type="xs:integer"/>
							<xs:element name="firstName" type="xs:string"/>
							<xs:element name="lastName" type="xs:string"/>
							<xs:element name="loginName" type="xs:string"/>
							<xs:element name="sessionFinished" type="xs:boolean"/>
							<xs:element name="survey">
								<xs:complexType>
									<xs:attribute name="reference" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="questions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="org.lamsfoundation.lams.tool.survey.model.SurveyQuestion" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="type" type="xs:integer"/>
										<xs:element name="description" type="xs:string"/>
										<xs:element name="sequenceId" type="xs:integer"/>
										<xs:element name="appendText" type="xs:boolean"/>
										<xs:element name="optional" type="xs:boolean"/>
										<xs:element name="allowMultipleAnswer" type="xs:boolean"/>
										<xs:element name="options">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="org.lamsfoundation.lams.tool.survey.model.SurveyOption" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="sequenceId" type="xs:integer"/>
																<xs:element name="description" type="xs:string"/>
																<xs:element name="response" type="xs:decimal"/>
																<xs:element name="responseCount" type="xs:integer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="createDate" type="xs:string"/>
										<xs:element name="createBy">
											<xs:complexType>
												<xs:attribute name="reference" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="../../../createdBy"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mainObject" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
