lams_build/xsd/lams_tool_lanb11_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation/xsd/lams_tool_lanb11_ims.xsd">
	<xs:element name="lanb11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nbContentId" type="xs:integer"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="content" type="xs:string"/>
				<xs:element name="onlineInstructions" type="xs:string"/>
				<xs:element name="offlineInstructions" type="xs:string"/>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="forceOffline" type="xs:boolean"/>
				<xs:element name="reflectOnActivity" type="xs:boolean"/>
				<xs:element name="reflectInstructions" type="xs:string"/>
				<xs:element name="contentInUse" type="xs:boolean"/>
				<xs:element name="creatorUserId" type="xs:integer"/>
				<xs:element name="dateCreated" type="xs:string"/>
				<xs:element name="dateUpdated" type="xs:string"/>
				<xs:element name="nbAttachments">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="org.lamsfoundation.lams.tool.noticeboard.NoticeboardAttachment" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nbContent">
											<xs:complexType>
												<xs:attribute name="reference" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="filename" type="xs:string"/>
										<xs:element name="uuid" type="xs:integer"/>
										<xs:element name="versionId" type="xs:integer"/>
										<xs:element name="onlineFile" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="mainObject" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
