lams_build/xsd/lams_tool_lamc11_ims.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation/xsd/lams_tool_lamc11_ims.xsd">
	<xs:element name="lamc11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mcContentId" type="xs:integer"/>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="instructions" type="xs:string"/>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="reflect" type="xs:boolean"/>
				<xs:element name="updateDate" type="xs:string"/>
				<xs:element name="questionsSequenced" type="xs:boolean"/>
				<xs:element name="createdBy" type="xs:integer"/>
				<xs:element name="contentInUse" type="xs:boolean"/>
				<xs:element name="offlineInstructions" type="xs:string"/>
				<xs:element name="onlineInstructions" type="xs:string"/>
				<xs:element name="retries" type="xs:boolean"/>
				<xs:element name="showReport" type="xs:boolean"/>
				<xs:element name="randomize" type="xs:boolean"/>
				<xs:element name="showMarks" type="xs:boolean"/>
				<xs:element name="passMark" type="xs:integer"/>
				<xs:element name="reflectionSubject" type="xs:string"/>
				<xs:element name="mcQueContents">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="no-comparator">
								<xs:complexType/>
							</xs:element>
							<xs:element name="org.lamsfoundation.lams.tool.mc.pojos.McQueContent">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="question" type="xs:string"/>
										<xs:element name="displayOrder" type="xs:integer"/>
										<xs:element name="mark" type="xs:integer"/>
										<xs:element name="feedback">
											<xs:complexType/>
										</xs:element>
										<xs:element name="mcContent">
											<xs:complexType>
												<xs:attribute name="reference" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="mcUsrAttempts">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="no-comparator">
														<xs:complexType/>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="class" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="tree-set"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="mcOptionsContents">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="no-comparator">
														<xs:complexType/>
													</xs:element>
													<xs:element name="org.lamsfoundation.lams.tool.mc.pojos.McOptsContent" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="correctOption" type="xs:boolean"/>
																<xs:element name="mcQueOptionText" type="xs:string"/>
																<xs:element name="displayOrder" type="xs:integer"/>
																<xs:element name="mcQueContent">
																	<xs:complexType>
																		<xs:attribute name="reference" type="xs:string" use="required"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="mcUsrAttempts">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="no-comparator">
																				<xs:complexType/>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="class" use="required">
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="tree-set"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="class" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="tree-set"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="class" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="tree-set"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="mcAttachments">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="no-comparator">
								<xs:complexType/>
							</xs:element>
							<xs:element name="org.lamsfoundation.lams.tool.mc.pojos.McUploadedFile" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="uuid" type="xs:integer"/>
										<xs:element name="fileOnline" type="xs:boolean"/>
										<xs:element name="fileName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="class" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="tree-set"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="mainObject" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
