lams_build/xsd/lams_ims_export_v1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:lams="http://www.lamsfoundation.org/xsd/lams_ims_export_v1p0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lamsfoundation.org/xsd/lams_ims_export_v1p0.xsd" elementFormDefault="qualified">
	<xs:element name="workspaceFolderID" type="xs:integer"/>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="validDesign" type="xs:boolean"/>
	<xs:element name="userID" type="xs:integer"/>
	<xs:element name="transitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="transition" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="transitionID" type="xs:integer"/>
							<xs:element name="transitionUIID" type="xs:integer"/>
							<xs:element name="toUIID" type="xs:integer"/>
							<xs:element name="fromUIID" type="xs:integer"/>
							<xs:element name="createDateTime" type="xs:string"/>
							<xs:element name="toActivityID" type="xs:integer"/>
							<xs:element name="fromActivityID" type="xs:integer"/>
							<xs:element name="learningDesignID"  type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tool_interface">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tool_id">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="identifier" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tool_version" type="xs:decimal"/>
				<xs:element name="tool_contents">
					<xs:complexType/>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="readOnly" type="xs:boolean"/>
	<xs:element name="maxID" type="xs:integer"/>
	<xs:element name="learningDesignID" type="xs:integer"/>
	<xs:element name="lastModifiedDateTime" type="xs:string"/>
	<xs:element name="langstring" type="xs:string"/>
	<xs:element name="lams-tool-activity">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="activityID"  type="xs:integer"/>
				<xs:element name="activityUIID"  type="xs:integer"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="activityTitle" type="xs:string"/>
				<xs:element name="helpText" type="xs:string"/>
				<xs:element name="helpURL" type="xs:anyURI"/>
				<xs:element name="xCoord" type="xs:short"/>
				<xs:element name="yCoord" type="xs:short"/>
				<xs:element name="parentActivityID"  type="xs:integer"/>
				<xs:element name="parentUIID"  type="xs:integer"/>
				<xs:element name="activityTypeID" type="xs:integer"/>
				<xs:element name="orderID"  type="xs:integer"/>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="learningDesignID" type="xs:integer"/>
				<xs:element name="createDateTime" type="xs:string"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="toolSignature" type="xs:string"/>
				<xs:element name="toolID" type="xs:integer"/>
				<xs:element name="toolContentID" type="xs:integer"/>
				<xs:element name="toolDisplayName" type="xs:string"/>
				<xs:element name="toolVersion" type="xs:string"/>
				<xs:element name="authoringURL" type="xs:string"/>
				<xs:element name="monitoringURL" type="xs:string"/>
				<xs:element name="contributeURL" type="xs:string"/>
				<xs:element name="moderationURL" type="xs:string"/>
				<xs:element name="activityCategoryID" type="xs:integer"/>
				<xs:element name="applyGrouping" type="xs:boolean"/>
				<xs:element name="learningLibraryID" type="xs:integer"/>
				<xs:element name="groupingSupportType" type="xs:integer"/>
				<xs:element name="libraryActivityUIImage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lams-complex-activity">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="activityID" type="xs:integer"/>
				<xs:element name="activityUIID" type="xs:integer"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="activityTitle" type="xs:string"/>
				<xs:element name="helpText" type="xs:string"/>
				<xs:element name="xCoord" type="xs:short"/>
				<xs:element name="yCoord" type="xs:short"/>
				<xs:element name="activityTypeID" type="xs:integer"/>
				<xs:element name="defineLater" type="xs:boolean"/>
				<xs:element name="learningDesignID" type="xs:integer"/>
				<xs:element name="learningLibraryID" type="xs:integer"/>
				<xs:element name="createDateTime" type="xs:string"/>
				<xs:element name="runOffline" type="xs:boolean"/>
				<xs:element name="activityCategoryID" type="xs:integer"/>
				<xs:element name="applyGrouping" type="xs:boolean"/>
				<xs:element name="groupingSupportType" type="xs:integer"/>
				<xs:element name="libraryActivityUIImage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="groupings">
		<xs:complexType/>
	</xs:element>
	<xs:element name="firstActivityUIID" type="xs:integer"/>
	<xs:element name="firstActivityID" type="xs:integer"/>
	<xs:element name="createDateTime" type="xs:string"/> 
	<xs:element name="copyTypeID" type="xs:integer"/>
	<xs:element name="contentFolderID" type="xs:string"/>
</xs:schema>
