lams_build/conf/windows/lams/lams.dtd

<!ELEMENT Lams (ServerURL,LamsHome,TempDir,SMTPServer,LamsSupportEmail,ContentRepositoryPath,UploadFileMaxSize,UploadLargeFileMaxSize,UploadFileMaxMemorySize,ChatServerName,ChatPortNumber,FileManagerDir,ExecutableExtensions,TicketFile,UserInactiveTimeout,AllowMultipleLogin,UseCacheDebugListener)>
<!ELEMENT ServerURL (#PCDATA)>
<!ELEMENT LamsHome (#PCDATA)>
<!ELEMENT TempDir (#PCDATA)>
<!ELEMENT SMTPServer (#PCDATA)>
<!ELEMENT LamsSupportEmail (#PCDATA)>
<!ELEMENT ContentRepositoryPath (#PCDATA)>
<!ELEMENT UploadFileMaxSize (#PCDATA)>
<!ELEMENT UploadLargeFileMaxSize (#PCDATA)>
<!ELEMENT UploadFileMaxMemorySize (#PCDATA)>
<!ELEMENT ChatServerName (#PCDATA)>
<!ELEMENT ChatPortNumber (#PCDATA)>
<!ELEMENT FileManagerDir (#PCDATA)>
<!ELEMENT ExecutableExtensions (#PCDATA)>
<!ELEMENT TicketFile (#PCDATA)>
<!ELEMENT UserInactiveTimeout (#PCDATA)>
<!ELEMENT AllowMultipleLogin (#PCDATA)>
<!ELEMENT UseCacheDebugListener (#PCDATA)>











